

body { 
font-family: sans-serif;
background-color: #18191a;
}


/* === all text color === */

h1,h2,h3,h4,h5,h6,p,b,strong,small,a,a:hover,a:disabled,a:hover,i,div,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:disabled,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:disabled,
.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:disabled,
.navbar-light .navbar-toggler:focus,
.dropdown-item,.dropdown-item:hover,.dropdown-item:focus ,.dropdown-item:active 
 {
background-color: transparent;
color:#e4e6eb; 
}


.form-control:focus,
input:focus,
textarea:focus,
.form-control:disabled,
input:disabled,
textarea:disabled,
.form-control,
input,
textarea,
option {
color:#e4e6eb; 
background-color: #18191a;
}

/* === end all text color === */

.wrapper_style,.wrapper_style:hover {
background-color: #1c1e21;
}

.border_style,.border_style:hover {
border: 1px solid #3a3a3a;
}

.border_top_style {
border-top: 1px solid #3a3a3a;
}

.border_bottom_style {
border-bottom: 1px solid #3a3a3a;
}

hr { border-color: #3a3a3a; }

button,button:focus ,button:active,
.page-link,.page-link:hover,.page-link:focus ,.page-link:active {
color: #e4e6eb;
box-shadow: none !important;
outline: none;
}